<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Puzzle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/miscellaneous/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/miscellaneous/jquery-3.3.1.min.js"></script>
    <script src="/miscellaneous/bootstrap-4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/miscellaneous/sockjs.min.js"></script>
    <script src="/miscellaneous/stomp.min.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable Javascript and reload this page!</h2></noscript>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Game Puzzle</a>
    </li>
    <li class="nav-item">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </li>
</ul>

<script type="application/javascript" src="/app.js"></script>
</body>
</html>