<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="new">
    <!--/*@thymesVar id="fight" type="org.game.puzzle.core.entities.FightSession"*/-->
    <style type="text/css">
        .escape-area, .fight-area {
            width: 52px !important;
            height: 52px !important;
        }
    </style>
    <div class="alert alert-danger d-none" id="fightErrors" role="alert" hidden="hidden">
    </div>
    <div class="row">
        <div class="col-5">
            <span class="text-primary text-left text-nowrap user" th:text="${fight.getLogin()}"></span>
            <div class="progress">
                <div class="progress-bar user-life" role="progressbar"
                     th:attr="
                     aria-valuenow=${fight.getUserInfo().getStats().getLife()},
                     aria-valuemax=${fight.getUserInfo().getStats().getLife()}"
                     style="width: 100%;"
                     aria-valuemin=0>
                </div>
            </div>
        </div>
        <div class="col-2">&nbsp;</div>
        <div class="col-5">
            <span class="text-left text-nowrap enemy">Enemy</span>
            <div class="progress">
                <div class="progress-bar enemy-life" role="progressbar" style="width: 100%;"
                     th:attr="
                     aria-valuenow=${fight.getEnemyInfo().getStats().getLife()},
                     aria-valuemax=${fight.getEnemyInfo().getStats().getLife()}"
                     aria-valuemin=0>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-borderless">
                <tr>
                    <td class="bg-warning text-dark escape-area m-0 p-0">&nbsp;</td>
                    <td th:each="row : ${fight.getArena().getGrid()}"
                        class="bg-warning text-dark escape-area m-0 p-0">&nbsp;
                    </td>
                    <td class="bg-warning text-dark escape-area m-0 p-0">&nbsp;</td>
                </tr>
                <tr th:each="row, rowIterStat : ${fight.getArena().getGrid()}">
                    <td class="bg-warning text-dark escape-area m-0 p-0" >&nbsp;</td>
                    <!--/*@thymesVar id="coord" type="org.game.puzzle.core.entities.grid.Coordinate"*/-->
                    <td th:each="coord, colIterStat : ${row}"
                        th:attr="
                        data-arena-row=${coord.getRow()},
                        data-arena-col=${coord.getCol()}"
                        class="bg-light text-dark fight-area m-0 p-0">
                        <!--/*@thymesVar id="userPosition" type="org.game.puzzle.core.entities.grid.Coordinate"*/-->
                        <div th:if="${fight.getUserPosition().getRow() == rowIterStat.index
                        && fight.getUserPosition().getCol() == colIterStat.index}">
                            <img th:attr="
                            src='/imgs/'+${fight.getUserInfo().getType().toString().toLowerCase()}+'.png'"
                                 alt="human" class="mr-3 fight-user text-center">
                        </div>
                        <!--/*@thymesVar id="enemyPosition" type="org.game.puzzle.core.entities.grid.Coordinate"*/-->
                        <div th:if="${fight.getEnemyPosition().getRow() == rowIterStat.index
                        && fight.getEnemyPosition().getCol() == colIterStat.index}">
                            <img th:attr="
                            src='/imgs/'+${fight.getEnemyInfo().getType().toString().toLowerCase()}+'.png',
                            alt=${fight.getEnemyInfo().getType().toString().toLowerCase()}"
                                 class="mr-3 fight-enemy text-center">
                        </div>
                    </td>

                    <td class="bg-warning text-dark escape-area m-0 p-0" >&nbsp;</td>
                </tr>
                <tr>
                    <td class="bg-warning text-dark escape-area m-0 p-0" >&nbsp;</td>
                    <td th:each="row, colIterStat : ${fight.getArena().getGrid()}"
                        class="bg-warning text-dark escape-area m-0 p-0" >&nbsp;
                    </td>
                    <td class="bg-warning text-dark escape-area m-0 p-0" >&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
    <script type="application/javascript" src="/js/arena.js"></script>
</div>
</html>