<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="stats">
    <!--/*@thymesVar id="utils" type="org.game.puzzle.core.utils.CalcUtils"*/-->
    <!--/*@thymesVar id="species" type="org.game.puzzle.web.models.SpeciesInfo"*/-->
    <div class="page-header">
        <h3 th:text="${species.getLogin()}"></h3>
    </div>

    <div class="row">
        <div class="col-10">
            <table class="table table-hover">
                <thead>
                <th>&nbsp;</th>
                <th>Level</th>
                <th>Strength</th>
                <th>Perception</th>
                <th>Endurance</th>
                <th>Charisma</th>
                <th>Intelligence</th>
                <th>Agility</th>
                <th>Luck</th>
                </thead>
                <tbody>
                <th:block th:each="victim : ${species.getVictims()}">
                    <tr>
                        <td style="width: 50px;">
                            <div class="media">
                                <img class="mr-3" th:attr="
                            src='/imgs/'+${victim.getType().name().toLowerCase()} + '.png',
                            alt=${species.getType()}">
                            </div>
                        </td>
                        <td style="width: 50px;">
                            <span th:text="${victim.getStats().getLevel()}"></span>
                        </td>
                        <td style="width: 50px;">
                            <span th:text="${victim.getStats().getStrength()}"></span>
                        </td>
                        <td style="width: 50px;">
                            <span th:text="${victim.getStats().getPerception()}"></span>
                        </td>
                        <td style="width: 50px;">
                            <span th:text="${victim.getStats().getEndurance()}"></span>
                        </td>
                        <td style="width: 50px;">
                            <span th:text="${victim.getStats().getCharisma()}"></span>
                        </td>
                        <td style="width: 50px;">
                            <span th:text="${victim.getStats().getIntelligence()}"></span>
                        </td>
                        <td style="width: 50px;">
                            <span th:text="${victim.getStats().getAgility()}"></span>
                        </td>
                        <td style="width: 50px;">
                            <span th:text="${victim.getStats().getLuck()}"></span>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <span class="text-left text-nowrap">Experience: </span>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     th:attr="
                     style='width: ' + ${species.getStats().getPctExperience()} + '%',
                     aria-valuenow=${species.getStats().getExperience()},
                     aria-valuemin=${species.getStats().getMinExperience()},
                     aria-valuemax=${species.getStats().getMaxExperience()}
                " th:text="${species.getStats().getExperience()}">
                </div>
            </div>
            <span class="text-left text-nowrap">Strength: </span>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     th:attr="
                     style='width: ' + ${species.getStats().getPctStrength()} + '%',
                     aria-valuenow=${species.getStats().getStrength()},
                     aria-valuemin=0,
                     aria-valuemin=10"
                     th:text="${species.getStats().getStrength()}">
                </div>
            </div>
            <span class="text-left text-nowrap">Perception: </span>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     th:attr="
                     style='width: ' + ${species.getStats().getPctPerception()} + '%',
                     aria-valuenow=${species.getStats().getPerception()},
                     aria-valuemin=0,
                     aria-valuemin=10"
                     th:text="${species.getStats().getPerception()}">
                </div>
            </div>
            <span class="text-left text-nowrap">Endurance: </span>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     th:attr="
                     style='width: ' + ${species.getStats().getPctEndurance()} + '%',
                     aria-valuenow=${species.getStats().getEndurance()},
                     aria-valuemin=0,
                     aria-valuemin=10"
                     th:text="${species.getStats().getEndurance()}">
                </div>
            </div>
            <span class="text-left text-nowrap">Charisma: </span>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     th:attr="
                     style='width: ' + ${species.getStats().getPctCharisma()} + '%',
                     aria-valuenow=${species.getStats().getCharisma()},
                     aria-valuemin=0,
                     aria-valuemin=10"
                     th:text="${species.getStats().getCharisma()}">
                </div>
            </div>
            <span class="text-left text-nowrap">Intelligence: </span>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     th:attr="
                     style='width: ' + ${species.getStats().getPctIntelligence()} + '%',
                     aria-valuenow=${species.getStats().getIntelligence()},
                     aria-valuemin=0,
                     aria-valuemin=10"
                     th:text="${species.getStats().getIntelligence()}">
                </div>
            </div>
            <span class="text-left text-nowrap">Agility: </span>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     th:attr="
                     style='width: ' + ${species.getStats().getPctAgility()} + '%',
                     aria-valuenow=${species.getStats().getAgility()},
                     aria-valuemin=0,
                     aria-valuemin=10"
                     th:text="${species.getStats().getAgility()}">
                </div>
            </div>
            <span class="text-left text-nowrap">Luck: </span>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     th:attr="
                     style='width: ' + ${species.getStats().getPctLuck()} + '%',
                     aria-valuenow=${species.getStats().getLuck()},
                     aria-valuemin=0,
                     aria-valuemin=10"
                     th:text="${species.getStats().getLuck()}">
                </div>
            </div>
            <div class="container">
                <form th:action="@{/fight}" method="post">
                    <button type="submit" class="btn btn-primary mt-3 w-100 float-right">Fight</button>
                </form>
            </div>

        </div>
    </div>
</div>
</html>