<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Puzzle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/miscellaneous/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/miscellaneous/jquery-3.3.1.min.js"></script>
    <!--<script src="/miscellaneous/jquery.validate.min.js"></script>-->
    <script src="/miscellaneous/bootstrap-4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/miscellaneous/sockjs.min.js"></script>
    <script src="/miscellaneous/stomp.min.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable Javascript and reload this page!</h2></noscript>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="linkHome" href="/game">Game Puzzle</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <a class="nav-link" href="/logout">Logout</a>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div th:replace="fragments/arena">...</div>

</body>
</html>